
* {
  box-sizing: border-box;
  margin: 1.2vw;
  padding: 0;
}

.log-in {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid;
  padding: 30px;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.btn {
  display: inline-block;
  background-color: steelblue;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 30px !important;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.back-btn {
  float: 'right';
  background-color: 'steelblue';
}

.entry {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  border-left: 5px solid green;
  border-radius: 5px;
}

.entry h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
} 

/* DASHBOARD */
.container {
  max-width: 90vw !important ;
}

/* CHART PAGE */
.chart {
  padding-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.canvas-container {
  position: relative;
  width: 40vw;
  min-width: 350px;
  flex: 1 1 200px;
  margin-left: -10px;
}

.chart-settings {
  position: relative;
  flex: 0.5 0.2 10vw;
  width: 20vw;
  height: fit-content;
  min-width: 230px;
  max-width: 300px;
  margin: 30px;
  border: 1px solid rgb(80, 255, 80);
  padding: 20px 18px 18px 12px;
  border-radius: 12px;
}

.chart-settings-cont {
  display: grid;
  align-items: baseline;
  columns: 2;
}

.show-all {
  color: grey;
  padding-left: 0;
  background-color: transparent;
  border-style: hidden;
}

.show-all:hover {
  text-decoration: underline;
}

.session-head {
  border-radius: 30px !important;
}

.sel-lab {
  grid-column: 1
}

.sel-form {
  min-width: 75px;
  grid-column: 2;
}