@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
	--rad: 16px;
	--radL: 24px;
	--fg: #222222;
	--fgl: #444444;
	--bg: #ffffff;
	--tsp: #44444410;
	--light: var(--col1);
    --bga: #e0e0e0;
	--bgh: #e9e7e7;

	/* 	PALETTE 1*/
	--col2: #0093b8;
	--col1: #00aeda;
    --shadlow: #32323230;
    --shadhi: #ffffff90;
}

body{
	padding: 0;
	margin: 0;
	background-color: var(--bg) !important;
	color: var(--fg);
	font-family: 'Montserrat', sans-serif;
}